# nubia multicolor led
on boot
	chown system system /sys/class/leds/aw22xxx_led/reg
	chown system system /sys/class/leds/aw22xxx_led/hwen
	chown system system /sys/class/leds/aw22xxx_led/fw
	chown system system /sys/class/leds/aw22xxx_led/cfg
	chown system system /sys/class/leds/aw22xxx_led/effect
	chown system system /sys/class/leds/aw22xxx_led/imax
	chown system system /sys/class/leds/aw22xxx_led/rgb
	chown system system /sys/class/leds/aw22xxx_led/task0
	chown system system /sys/class/leds/aw22xxx_led/task1
	chown system system /sys/class/leds/aw22xxx_led/brightness
	chown system system /sys/class/leds/aw22xxx_led/max_brightness
