# Copyright (c) 2019, nubia. All rights reserved.
#
# init.nubia.fingerprint.rc
# For fingerprint only


#fingerprint
on post-fs-data
    # for goodix fingerprint
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp
    chmod 0666 /sys/kernel/lcd_enhance/hbm_mode
    chown system system /sys/kernel/lcd_enhance/hbm_mode
    chmod 0666 /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chmod 0666 /sys/kernel/tp_node/fp_mode
    chown system system /sys/kernel/tp_node/fp_mode
    
    # for persist 
    chmod 0777 /persist/goodix
    chown system system /persist/goodix

    # for goodix debug
    mkdir /data/vendor/goodix 0777 system system
    #mkdir /data/vendor/goodix/gf_data 0777 system system
    #mkdir /data/vendor/goodix/gf_data/encrypted_data 0777 system system
    setprop persist.vendor.goodix.dump_data 1

    # add for bind big core
    chmod 0666 /dev/cpuset/bigcluster/cgroup.procs
    chmod 0666 /dev/cpuset/cgroup.procs
